.header {
  display: flex;
  justify-content: space-between;
  padding: 17px;
  background-color: #FFFFFF;
}
.header__logo {
  padding: 17px 0 0 0;
}
.header__nav {
  padding: 30px 0 0 0;
}
.navigation {
  gap: 70px;
  display: flex;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
/* identical to box height */

  color: #292929;
}
.SignIn {
  display: flex;
  gap: 35px;
  margin: 18px 0 0 0;
  align-items: center;
}
.signIn-button {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  color: #000000;
  border: none;
  padding: 14px 30px;
  background: #E5E5E5;
}
.green-button {
  background: #01996D;
  border: 1px solid #01996D;
  border-radius: 4px;
  padding: 20px 50px;
  color: #FFFFFF;
  /* max-height: 50px; */
}
.trial-button {
  padding: 13px 50px;
}
@media(max-width: 1165px) {
  .header {
    display: grid;
    grid-template-columns: 90px 1fr 40px;
  }
  .header__logo  {
    grid-column: 1/2;
  }
  .header__signIn {
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .header__nav {
    grid-column: 3/4;
    grid-row: 1/2;
  }
  .navigation {
    flex-direction: column;
    display: none;
  }
  .burger {
    width: 40px;
    background: #000000;
    height: 7px;
    position: relative;
  }
  .burger::after, .burger::before {
    content: '';
    display: block;
    width: 40px;
    background: #000000;
    height: 7px;
    position: absolute;
  }
  .burger::after {
    top: -12px;
  }
  .burger::before {
    bottom: -12px;
  }
  .trial-button {
    padding: 10px 25px;
  }
}
@media(max-width: 440px) {
  .SignIn {
    margin: -10px 0 0 0;
    flex-direction: column-reverse;
    max-width: 175px;
    gap: 10px;
  }
}